body {
    font-family: monospace;
    margin: 0;
    background: linear-gradient(to left bottom, rgb(255, 80, 80), rgb(61, 255, 110),rgb(255, 80, 80));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
    border-radius: 15px;
    width: 85%;
    text-align: center;
    color: #000000;
}   

.heading {
    font-size: 35px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 2px rgba(0,0,0,0.3);
    user-select: none;
    letter-spacing: 2px;
}

.joke {
    font-size: 25px;
    font-weight: 500;
    user-select: none;
    margin: 40px;
}

.btn {
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    border-color: rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.3);
    text-transform: uppercase;
    width: 300px;
    color: #0d0d0d;
    transition: all 0.2s ease;
    user-select: none;
}

.btn:hover {
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}